################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SendIdAnotherChat/v17/DocumentLayout.json
/.vs/SendIdAnotherChat
