################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SendIdAnotherChat/DesignTimeBuild/.dtbcache.v2
/.vs/SendIdAnotherChat/FileContentIndex
